<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="" class="navbar-brand" >Anime !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="Animes" class="nav-link">Animes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="new" class="nav-link">Nouveau anime</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="favori" class="nav-link">favori</a>
      </li>
      
    </ul>
  </div>

  <div class="navbar-right">
  </div>
</nav>


<div class="container">
  <div class="row">
      
      <router-outlet></router-outlet>
      
  </div>
</div>