
<br>
<ul class="list-group" *ngIf="animes">
    <app-favori *ngFor="let anime of animes; let i = index"

    [title]="anime.title" 
    [Autor]="anime.Autor"
    [studio]="anime.studio"
    [pictureLink]="anime.pictureLink"
    [onVF]="anime.onVF"
    [Nb_episode]="anime.Nb_episode"
    [sortie]="anime.sortie"
    [id]="anime.id"
    [display]="anime.display"

    [Perso1]="anime.Perso1"
    [Perso2]="anime.Perso2"
    [Perso3]="anime.Perso3"
    [Perso4]="anime.Perso4"

    [PersoLink1]="anime.PersoLink1"
    [PersoLink2]="anime.PersoLink2"
    [PersoLink3]="anime.PersoLink3"
    [PersoLink4]="anime.PersoLink4"

    [PersoAudio1]="anime.PersoAudio1"
    [PersoAudio2]="anime.PersoAudio2"
    [PersoAudio3]="anime.PersoAudio3"
    [PersoAudio4]="anime.PersoAudio4">
    </app-favori>
  </ul>
  