<div *ngIf="fav == true">
  <li class="col-6" [ngClass]=" { 'list-group-item': true,
  'list-group-item-info': onVF == true,
  'list-group-item-warning': onVF == false }">


    <div class="row">
      //Partie Description
      <div class="row">
      <div class="col-2">
        <img class="affiche" [src]="pictureLink">
      </div>
      <div class="col-8">
          <div class="onVF" *ngIf="onVF == false">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/langfr-225px-Flag_of_Japan.svg.png">
          </div>
          <div class="onVF" *ngIf="onVF == true">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931958%29.svg/langfr-225px-Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931958%29.svg.png">
          </div>

          
          <div class="row">
            <div class="col-12 col-sm-6">
              <h3>Animé : {{ title }}</h3>
            </div>
            <div class="col-12 col-sm-6"> 
              Date: {{ sortie }}
              Durée : {{ Nb_episode }} épisodes
              
            </div>
            <div class="col-12 col-sm-6">
              Saison : {{NB_Saison}}
              Status: {{ Finish }}
            
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
                Autor: {{Autor}} <br>
                studio: {{studio}} 
            </div>
            <div class="col-12 col-sm-6">
                genre : {{genre}} <br>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              Résumé: <br>
              <div class="text-justify">
                {{Resum}}
              </div>
            </div>
          </div>
         
        </div>

      </div>

    </div>
  </li>
</div>